@font-face {
  font-family: "MyBoldFont";
  src: url("fonts/Roboto-Black.ttf") format("opentype");
}

@font-face {
  font-family: "MyFont";
  src: url("fonts/Roboto-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "MySoftFont";
  src: url("fonts/Roboto-Light.ttf") format("opentype");
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
.container {
  /* display: flex; */
  display: grid;
  grid-template-columns: auto 1fr;
  width: 100%;
  height: 100%;
}
aside {
  /* flex: 1; */
  padding-right: 25px;
  padding-left: 10px;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 100%;
}
.aside-head{
  margin-top: 20px;
}
.set-font-aside{
  font-family: 'MyBoldFont',sans-serif,serif;
  color: white;
}
p.set-font-aside{
  font-weight: 200;
  font-size: large;
  
}
.dashboard {
  height: 50px;
  width: 42px;
  filter: invert(1);
}
.aside-icon.white {
  height: 30px;
  width: 30px;
  filter: invert(1);
}
.aside-icon {
  height: 30px;
  width: 30px;
}
.icon {
  margin-left: 15px;

  display: flex;
  align-items: center;
  gap: 20px;
}
.dashboard-head {
  margin-left: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.main {
  /* flex: 5; */
  height: 100%; /* Full height for the main content */
  overflow-y: auto;
}
.bar {
  height: fit-content;
}
.upper-bar {
  display: grid;
  grid-template-columns: auto 1fr auto auto auto;
  align-items: center;
  gap: 30px;
  padding: 10px 40px 20px 40px;
}

input {
  width: 80%;
  margin-right: 100px;
  border-radius: 30px;
  background-color: darkgrey;
}
.page-img {
  background-color: rgba(144, 144, 4, 0.299);
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 40px;
}
.lower-bar {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 30px;
  padding: 0px 40px 20px 40px;
}
.bar-img {
  background-color: rgba(144, 144, 4, 0.299);
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: 40px;
}
.title {
  margin: 0;
}
.bar-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
button {
  padding: 10px 30px;
  background-color: rgb(26, 105, 144);
  &:hover{
    cursor: pointer;
  }
}
/*          content grid          */
.content{
  display: grid;
  grid-template-columns: 1fr auto;
}
.grid-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 3 equal-width columns */
  grid-template-rows: repeat(3,200px);
  gap: 20px;
  /* column-gap: 20px; */
  padding: 20px; /* Padding around the content */
  background-color: antiquewhite;
  padding-top: 50px;
  position: relative;
}

.box {
  display: flex;
  background-color: #ccc; /* Box background color */
  border: 1px solid #000; /* Box border */
  /* height: fit-content; Default height for small boxes */
  height: 100%;
  width: 100%;
  margin:0;
}

.box-left {
  background-color: #333;
  width: 8px;
  height: auto;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.box-right {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr auto;
  grid-column-start: 1;
  grid-row-start: 1;
  padding: 20px;
}
.text-content p {
  margin: 4px 0;
}

.logos {
  display: flex;
  gap: 10px;
  grid-column-start: 2;
  grid-row-start: 2;
  /* grid-column-end: 2; */
}

.logos img {
  width: 16px;
  height: 16px;
}
/*         aside              */
.aside-right{
  padding-right: 20px;
  padding-top: 22px;
  position: relative;
  display: flex;
  flex-direction: column;
  /* gap: 30px; */
}
.line{
  height: 1px;
  width: 200px;
  background-color: black;
  margin: 9px 0;
}
h4{
  margin:0;
}
.box.large {
  /* grid-row: span; */
  height: fit-content; /* Increase height for larger boxes */
  width: 250px;
  /* min-width: 300px; */
  /* margin-bottom: 60px; */
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.anounces > p {
  max-width: 200px; /* Adjust this value to set the width you want */
  word-wrap: break-word; /* Ensures long words wrap properly */
  margin: 0;
}
 /* .first .last{
  position: relative;
} 
.text-first{
  position: absolute;
  top: 0%;
}*/
.text-last{
  margin-top: 20px;
} 
/* .box.one{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.box.two{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
} */

/* .box.large.first{
  grid-column-start: 3;
  grid-row-start: 1;
  grid-column-end:auto;
}
.box.large.last{
  grid-column-start: 3;
  grid-row-start:auto;
} */
h2{
  margin: 0;
 }
.main-text{
    margin-top: 0;
    margin-bottom: 0;
}
.test{
  position: absolute;
  top: 3%;
  left: 2%;
}