@font-face {
  font-family: "MyBoldFont";
  src: url("fonts/Roboto-Black.ttf") format("opentype");
}

@font-face {
  font-family: "MyFont";
  src: url("fonts/Roboto-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "MySoftFont";
  src: url("fonts/Roboto-Light.ttf") format("opentype");
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
.container {
  /* display: flex; */
  display: grid;
  grid-template-columns: auto 1fr;
  width: 100%;
  height: 100%;
}
aside {
  /* flex: 1; */
  padding-right: 25px;
  padding-left: 10px;
  background-color: #0284c7;
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 100%;
}
.aside-head{
  margin-top: 20px;
}
.set-font-aside{
  font-family: 'MyBoldFont',sans-serif,serif;
  color: white;
}
p.set-font-aside{
  font-weight: 200;
  font-size: large;
  
}
.dashboard {
  height: 50px;
  width: 42px;
  filter: invert(1);
}
.aside-icon.white {
  height: 30px;
  width: 30px;
  filter: invert(1);
}
.aside-icon {
  height: 30px;
  width: 30px;
}
.icon {
  margin-left: 15px;

  display: flex;
  align-items: center;
  gap: 20px;
}
.dashboard-head {
  margin-left: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.main {
  /* flex: 5; */
  height: 100%; /* Full height for the main content */
  overflow-y: auto;
}
.bar {
  height: fit-content;
}
.upper-bar {
  display: grid;
  grid-template-columns: auto 1fr auto auto auto;
  align-items: center;
  gap: 30px;
  padding: 10px 40px 20px 40px;
}

input {
  width: 80%;
  margin-right: 100px;
  border-radius: 30px;
  background-color:#eaeaeaf5;
  border-color: transparent;
}
.page-img {
  background-color: #fbbf24;
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 40px;
}
.lower-bar {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 30px;
  padding: 0px 40px 20px 40px;
}
.bar-img {
  background-color: #fbbf24;
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: 40px;
}
.title {
  margin: 0;
  font-family: 'MyBoldFont',sans-serif,serif;
}
.bar-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
button {
  padding: 10px 30px;
  background-color: #0284c7;
  border-radius: 30px;
  border-color: transparent;
  color: white;
  &:hover{
    cursor: pointer;
  }
}
/*          content grid          */
.content{
  display: grid;
  grid-template-columns: 1fr auto;
  background-color: #eaeaeaf5;
}
.grid-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 3 equal-width columns */
  grid-template-rows: repeat(3,200px);
  gap: 20px;
  /* column-gap: 20px; */
  padding: 20px; /* Padding around the content */
  padding-top: 50px;
  position: relative;
}

.box {
  display: flex;
  background-color: white; /* Box background color */
  border: 1px solid #000; /* Box border */
  /* height: fit-content; Default height for small boxes */
  height: 100%;
  width: 100%;
  margin:0;
  border-radius: 25px;
}

.box-left {
  background-color: #fbbf24;
  width: 20px;
  height: 90%;
  margin-top: 10px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 20px; 
  border-top-left-radius: 29px;
  /* border-radius: 11px; */
}

.box-right {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr auto;
  grid-column-start: 1;
  grid-row-start: 1;
  padding: 20px;
}
.text-content p {
  margin: 4px 0;
}

.logos {
  display: flex;
  gap: 10px;
  grid-column-start: 2;
  grid-row-start: 2;
  /* grid-column-end: 2; */
}

.logos img {
  width: 16px;
  height: 16px;
}
/*         aside              */
.aside-right{
  padding-right: 20px;
  padding-top: 22px;
  position: relative;
  display: flex;
  flex-direction: column;
  /* gap: 30px; */
}
.line{
  height: 1px;
  width: 200px;
  background-color: black;
  margin: 9px 0;
}
h4{
  margin:0;
}
.box.large {
  /* grid-row: span; */
  height: fit-content; /* Increase height for larger boxes */
  width: 250px;
  /* min-width: 300px; */
  /* margin-bottom: 60px; */
  padding: 15px 9px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.anounces > p {
  max-width: 200px; /* Adjust this value to set the width you want */
  word-wrap: break-word; /* Ensures long words wrap properly */
  margin: 0;
}
 /* .first .last{
  position: relative;
} 
.text-first{
  position: absolute;
  top: 0%;
}*/
.text-last{
  margin-top: 20px;
} 
/* .box.one{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.box.two{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
} */

/* .box.large.first{
  grid-column-start: 3;
  grid-row-start: 1;
  grid-column-end:auto;
}
.box.large.last{
  grid-column-start: 3;
  grid-row-start:auto;
} */
h2{
  margin: 0;
 }
.main-text{
    margin-top: 0;
    margin-bottom: 0;
}
.test{
  position: absolute;
  top: 3%;
  left: 2%;
}

.last-img{
  height: 40px;
  width: 40px;
  padding: 8px;
  border-radius: 40px;
  
}
.last-div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.last-text-margin{
  margin: 0;
}
.box.large.last{
  gap: 15px;
}
.last-img.fourth{
  background-color: #f472b6;
}
.last-img.third{
  background-color: #9ca3af;
}
.last-img.second{
  background-color: #fbbf24;
}
.last-img.first{
  background-color: #93c5fd;
}